{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}
 <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    {{form(form)}}
    <hr>
   {{message}}
 </div>
{% endblock %}
